body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  width: 600px;
  margin: auto;
  padding: 12px;
  background-color: white;
  box-shadow: 0px 4px 4px 4px rgb(228, 228, 228);
  margin-top: 44px;
}
.container input{
  width: 80%;
  padding: 8px;
  font-size: 19px;
  border: 2px solid rgb(0, 0, 0);
}
.itemList{
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
   
}
 
.itemList img{
  width: 110px;
}
.type{
  display: flex;
  justify-content: space-around;
  margin-left: -22px;
   
}