body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.user{
  display: flex;
  justify-content: center;
}
.container{
  
  width: 300px;
 margin: auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px 4px silver;
  border-radius: 6px;
  text-align: center;
  padding: 11px;
 margin-top: 11px;

}
.container img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 11px;
  font-size: 26px;
}
