body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  width: 380px;
  margin: auto;
  padding: 12px;
  background-color: #fff;
  margin-top: 33px;
  border-radius: 6px;
}
.inputs{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 18px;
}
input{
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border-radius: 21px;
  border: none;
  background-color: rgb(171, 231, 255);
  box-shadow: 0px 3px 2px rgb(218, 218, 218);
}
.inputs button{
  background-color: rgb(3, 128, 177);
  color: white;
  width: 44px;
  border-radius: 55px;
  border: none;
  box-shadow: 0px 3px 2px rgb(218, 218, 218);
  font-size: 18px;
  cursor: pointer;
}
.weathers{
  text-align: center;

}
.weathers img{
  width: 190px;
  margin-top: -11px;
}
.weathers p{
  font-size: 30px;
  /* font-weight: 600; */
   
}
.weathers .climate{
  margin-top: -29px;
}
.errorPage{
  text-align: center;
}
.errorPage p{
  font-size: 22px;
}
.errorPage img{
  width: 200px;
}
.weathers .cityName{
  font-size: 30px;
  margin-top: 36px;
}
.weathers .temprature{
  font-size: 54px;
  margin-top: -12px;
}