body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.images{
  display: flex;
  justify-content: center;
  width: 700px;
  flex-wrap: wrap;
  margin: auto;
}
.images img{
  width: 200px;
  height: 240px;
  border-radius: 17px;
  margin: 11px;
}
