body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.container{
  width: 600px;
  padding: 22px;
  border-radius: 11px;
  /* box-shadow: 4px 4px 4px 4px silver; */
  margin: auto;
  margin-top: 22px;
}
.select{
  display: flex;
  justify-content: center;
  gap: 27px;
}
.select select{
  width: 260px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 2px;
}
.select p{
  margin: 1px;
}
.amountContainer{
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 15px;

}
.amountContainer input{
  padding: 4px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 2px;
  width: 90%;
  margin: auto;
 margin-top: 4px;
}
.amountContainer p{
  text-align: left;
  margin: 2px;
  margin-left: 27px;
  
}

.convertBtn{
  display: flex;
  justify-content: center;
}
.convertBtn button{
  width: 120px;
  height: 38px;
  border: none;
  background-color: rgb(0, 81, 255);
  color: white;
  margin-top: 22px;
  border-radius: 3px;
  font-size: 18px;
}
.result{
  text-align: center;
}
.heading{
  text-align: center;
  font-size: 33px;
}