body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.image-container{
  text-align: center;

}
img{
  margin: 11px;
  width: 130px;
  height: 160px;
  border-radius: 5px;
}
.buttons{
  text-align: center;
  
}
button{
  width: 50px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  margin: 11px;
  cursor: pointer;
}
.active{
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
.preBtn{
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  margin: 11px;
  cursor: pointer;
}
.nextBtn{
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  margin: 11px;
  cursor: pointer;
}