.container{
  width: 400px;
  padding: 25px;
  background-color: lightblue;
  text-align: center;
  margin: auto;
  border-radius: 11px;
  margin-top: 44px;
  font-family: "Roboto", sans-serif;
}
.container h1{
  font-size: 66px;
}
.container p{
  font-size: 44px;
}
.container h2{
  font-size: 33px;
}
.container img{
  width: 125px;
}
h1{
  text-align: center;
  color: rgb(1, 97, 97);
}

i{
  font-size: 200px;
}