body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.light-mode{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.icon{
  cursor: pointer;
}
.dark-mode{
  background-color: black;
  color: white;
}
 .main{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding: 23px;
 }
 .mainText{
  width: 400px;
 }
 nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 22px;
 }
 ul{
  display: flex;
   gap: 61px;
 }
 ul li{
  list-style: none;
 }
 button{
  width: 120px;
  height: 38px;
  border: none;
  background-color: rgb(125, 204, 231);
  color: white;
  font-size: 22px;
 }