body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 h1{
  text-align: center;
 }
.inputs {
  display: flex;
 gap: 3px;
  justify-content: center;
  padding: 33px;
   
}
.inputs input{
  width: 450px;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e0dada;
}
.inputs button{
  width: 80px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  
}
.images{
  width: 100%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 22px;
 
}
.images img{
  padding: 31px;
  width: 300px;
    height: 300px;
    /* box-shadow: 1px 3px 3px 3px rgb(255, 255, 255); */
}