body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.option{
  display: flex;
}
.container{
   background-color: #fff;
  width: 450px;
  padding: 33px;
  /* text-align: center; */
  margin: auto;
  margin-top: 22px;
  border-radius: 11px;
}
.container input{
  width: 23px;;
  cursor: pointer;
}
.container p{
  margin-left: 6px;
  font-size: 20px;
  
}
.container .option{
  margin-top: -18px;
}
.btns{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 11px;
}
.btns button{
  width: 140px;
  height:38px;
  border: none;
  font-size: 22px;
  background-color: rgb(1, 1, 46);
  cursor: pointer;
  color: white;

}
.score{
  text-align: center;
}
.head{
  text-align: center;
}
.score p{
  font-size: 37px;
}